
<html>
{% block header %}
<h3>Deal.II library bindings</h3>
{% endblock header %}

{% block content %}
<ul>
<li> <a href="{% url views.step1_handler %}">Step-1 example</a> </li>
<li> <a href="{% url views.step2_handler %}">Step-2 example</a> </li>
</ul>
{% endblock content %}
</html>
