
<html>
{% block header %}
<h3>Step-2 example</h3>
{% endblock header %}

{% block content %}
<a href="{% url views.home %}">Go home</a>
<p>
The following pictures are the example of calling Deal.II
methods.
</p>

<table>
<tr>
  <td>
    <img src="{{ STATIC_URL }}{{ image1 }}"/>
  </td>
  <td>
    <img src="{{ STATIC_URL }}{{ image2 }}"/>
  </td>
</tr>
</table>

{% endblock content %}
</html>
